extends layout

block stylesheet
    link(rel="stylesheet", href="/assets/css/userpage.css")

block header
    #wrapper
        #top-space
            nav#top-space-nav-bar
                a.homepage-link(href='#')
                    img.logo-pic(src='/assets/img/logo.png', alt='dash')
                ul.right.user-login
                        li
                            img.profile-pic(src=user.image class="circle responsive-img")
                        li
                            a.button.alt.dropdown-button.profile-btn(data-activates='dropdown_user')="Welcome, " + user.username

                ul(id='dropdown_user' class='dropdown-content')
                    li
                        a(href='#') Homepage
                    li.divider
                    li
                        a(href="/logout" style="color: #f6755f") Logout

block main
    #user-header
        #user-background
            .container
                #username
                    p.name= user.username
                    p.email="(" + user.email + ")"
                    a.fa.fa-pencil.edit-spam-address.modal-trigger(href='#modal-spam-address-popup')
                    #modal-spam-address-popup.modal
                        .modal-content
                            p
                                label.spam-address-label(for="email") Email for subscription
                                input#email.validate.spam-address(type="email")
                            p
                                input#receive-mail.filled-in(type="checkbox")
                                label(for="receive-mail") I want to receive news from my companies
                            p.modal-buttons
                                a#update-spam-address.waves-effect.waves-light.btn Update
                                a#close-spam-modal.waves-effect.waves-light.btn.materialize-red.modal-close Cancel

        #user-header-content
            div.container
                #useravatar
                    if(user.image)
                        img(src=user.image, alt='dash')
                    else
                        img(src='/assets/img/representative-placeholder.jpg', alt='dash')
                    a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content(href='#')
                        i.material-icons add
                #userinfo
                    p Member Since November 2017
                #changepass-button
                    p Change password
                        a.fa.fa-lock(href='#')
                #deleteaccount-button
                    p Delete account
                        a.fa.fa-trash-o(href='#')
    #user-content
        #user-content-tabs
            .nav-content
                ul.tabs.tabs-transparent
                    li.tab
                        a.active(href='#bookmarks') Selected
                    li.tab
                        a(href='#uploaded') Uploaded
                    li.tab
                        a(href='#comments') Comments

            #bookmarks.col.s12
                #LOM
                    ul#manualUl
                    template#productTemp
                        li
                            #product-item
                                .product-pic
                                    img.pic(src='../assets/img/product-placeholder.png', alt='delete', height='20', width='20')
                                .product-info
                                    a(href='#')
                                        h3 Product Title - Model
                                    p lorem ipsum dolor sit amet. lorem ipsum dolor sit amet, ipsum dolor sit amet, lorem ipsum dolor sit amet
                                .product-delete
                                    a.btn-floating.waves-effect.waves-light.remove-selection
                                        i.material-icons remove
            #uploaded.col.s12 Uploaded
            #comments.col.s12 Comments

block append javascript
    script(src='/assets/js/consumerPageControl.js')